<!doctype html>
<html class="no-js">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Amaze UI Admin index Examples</title>
  <meta name="description" content="这是一个 index 页面">
  <meta name="keywords" content="index">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="assets/i/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="/static/amazeui/amazeui.min.css" />
  <link rel="stylesheet" href="/static/amazeui/admin.css">
</head>

<body>
  <!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->


  <div class="am-cf admin-main">
    <!-- sidebar start -->
    <div class="admin-sidebar">
      <ul class="am-list admin-sidebar-list">
        <li>
          <a href="/index">
            <span class="am-icon-home"></span> 首页
          </a>
        </li>
        <li>
          <a href="/borrow">
            <span class="am-icon-file"></span>
            借阅图书
          </a>
        </li>
        <li>
          <a href="/return">
            <span class="am-icon-th"></span>
            归还图书
            <span class="am-badge am-badge-secondary am-margin-right am-fr">24</span>
          </a>
        </li>
        <li>
          <a href="/user">
            <span class="am-icon-check"></span> 个人信息
          </a>
        </li>
        <li>
          <a href="/logout">
            <span class="am-icon-sign-out"></span> 注销
          </a>
        </li>
      </ul>

      <div class="am-panel am-panel-default admin-sidebar-panel">
        <div class="am-panel-bd">
          <p><span class="am-icon-bookmark"></span> 公告</p>
          <p>书是人类进步的阶梯</p>
        </div>
      </div>
    </div>
    <!-- sidebar end -->

    <!-- content start -->
    <div class="admin-content">

      <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">借阅图书</strong> / <small>Borrow</small></div>
      </div>

      <div class="am-g">
        <div class="col-md-6 am-cf">
          <div class="am-fl am-cf">
            <div class="am-btn-toolbar am-fl">
              <div class="am-btn-group am-btn-group-xs">
                <button type="button" class="am-btn am-btn-default"></span> 最新</button>
                <button type="button" class="am-btn am-btn-default"></span> 最热</button>
              </div>

              <div class="am-form-group am-margin-left am-fl">
                <select>
                  <option value="option1">所有类别</option>
                  <option value="option2">IT业界</option>
                  <option value="option3">数码产品</option>
                  <option value="option3">笔记本电脑</option>
                  <option value="option3">平板电脑</option>
                  <option value="option3">只能手机</option>
                  <option value="option3">超极本</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 am-cf">
          <div class="am-fr">
            <div class="am-input-group am-input-group-sm">
              <input type="text" class="am-form-field">
              <span class="am-input-group-btn">
                <button class="am-btn am-btn-default" type="button">搜索</button>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="am-g">
        <div class="col-sm-12">
          <form class="am-form">
            <table class="am-table am-table-striped am-table-hover table-main am-table-bd">
              <thead>
                <tr>
                  <th class="table-id">编号</th>
                  <th class="table-title">书名</th>
                  <th class="table-type">类别</th>
                  <th class="table-author">作者</th>
                  <th class="table-info">简介</th>
                  <th class="table-times">借出</th>
                  <th class="table-set">操作</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>DJBH55A</td>
                  <td><a href="#">钢铁是怎样练成的</a></td>
                  <td>default</td>
                  <td>刘德华</td>
                  <td>这是一本很好看的书，推荐给大家！</td>
                  <td><span class="am-badge am-badge-secondary">24</span></td>
                  <td>
                    <div class="am-btn-toolbar">
                      <div class="am-btn-group am-btn-group-xs">
                        <button class="am-btn am-btn-default am-btn-xs am-text-secondary">借阅</button>
                        <button class="am-btn am-btn-default am-btn-xs">不喜欢</button>
                      </div>
                    </div>
                  </td>
                </tr>

                <tr>
                  <td>DJBH55A</td>
                  <td><a href="#">钢铁是怎样练成的</a></td>
                  <td>default</td>
                  <td>刘德华</td>
                  <td>这是一本很好看的书，推荐给大家！</td>
                  <td><span class="am-badge am-badge-secondary">24</span></td>
                  <td>
                    <div class="am-btn-toolbar">
                      <div class="am-btn-group am-btn-group-xs">
                        <button class="am-btn am-btn-default am-btn-xs am-text-secondary">借阅</button>
                        <button class="am-btn am-btn-default am-btn-xs">不喜欢</button>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="am-cf">
              共 15 条记录
              <div class="am-fr">
                <ul class="am-pagination">
                  <li class="am-disabled"><a href="#">«</a></li>
                  <li class="am-active"><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li><a href="#">»</a></li>
                </ul>
              </div>
            </div>
            <hr />
          </form>
        </div>

      </div>
    </div>
    <!-- content end -->

  </div>

  <footer style="position: absolute; bottom: -160px; height: 60px; width: 100%;">
    <hr>
    <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
  </footer>

  <script src="/static/amazeui/zepto.min.js"></script>
  <script src="/static/amazeui/amazeui.min.js"></script>
  <script src="/static/amazeui/app.js"></script>
  <script>

    var retViewportOffset = function () {
      if (window.innerWidth) {
        return {
          w: window.innerWidth,
          h: window.innerHeight
        }
      } else {
        if (document.compatMode === 'BackCompat') {
          return {
            w: document.body.clientWidth,
            h: document.body.clientHeight
          }
        } else {
          return {
            w: document.documentElement.clientWidth,
            h: document.documentElement.clientHeight
          }
        }
      }
    }

    of = retViewportOffset();
    document.getElementsByClassName('admin-sidebar')[0].style.height = of.h - 160 + 'px';
  </script>
</body>

</html>